{
  "Commment_Input_Output_Directories": "The following section specifies the input and output directories for the files to be used in the script",
  "Trimmed_FastQC_Input_File_Directory": "/data/CEM/wilsonlab/lab_generated/placenta/fastqs/rna/",
  "Output_File_Directory": "/mnt/storage/SAYRES/placenta_YPOPS/05_SALMON_RNA/Aligned_BAMS/",

  "Comment_Transcriptome_Index": "The following section specified the location of the index file for Salmon",
  "HG38_Transcriptome_Index_HISAT_Path_male": "/mnt/storage/SAYRES/REFERENCE_GENOMES/GENCODE/GRCh38.p12.genome.XY/GRCh38.p12.genome.XY",
  "HG38_Transcriptome_Index_HISAT_Path_female": "/mnt/storage/SAYRES/REFERENCE_GENOMES/GENCODE/GRCh38.p12.genome.XXonly/GRCh38.p12.genome.XXonly",

  "Comment_SALMON_gencode_k31_transcriptome": "Path to gencode.v29.transcripts",
  "HG38_Transcriptome_Index_Path": "/mnt/storage/SAYRES/REFERENCE_GENOMES/GENCODE/gencode.v29.transcripts_index/",


  "Comment_GTF_gencode.v29.": "The following section is the specified location for the gencode gene annotation file",
  "gencode.v29.annotation.gtf_path": "/mnt/storage/SAYRES/REFERENCE_GENOMES/GENCODE/gencode.v29.annotation.gtf",

  "Comment_Sample_Info": "The following section lists the samples that are to be analyzed",
  "sample_names": ["OBG0044-1-010", "OBG0044-2-011", "OBG0068-1-020", "OBG0068-2-021", "OBG0053-2-003","OBG0053-1-001", 
                "OBG0111-1-010", "OBG0111-2-011", "OBG0112-1-009", "OBG0112-2-009", "OBG0115-1-010", "OBG0115-2-011", 
                "OBG0116-1-008", "OBG0116-2-009", "OBG0117-1-008", "OBG0117-2-009", "OBG0118-1-008", "OBG0118-2-009", 
                "OBG0120-1-010", "OBG0120-2-011", "OBG0122-1-008", "OBG0122-2-009", "OBG0123-1-008", "OBG0123-2-008", 
                "OBG0126-1-003", "OBG0126-2-003", "OBG0130-1-001", "OBG0130-2-003", "OBG0132-1-001", "OBG0132-2-003", 
                "OBG0133-1-020", "OBG0133-2-021", "OBG0156-1-010", "OBG0156-2-021", "OBG0158-1-001", "OBG0158-2-003",
                "OBG0166-1-010", "OBG0166-2-011", "OBG0170-1-020", "OBG0170-2-021", "OBG0174-1-020", "OBG0174-2-011",
                "OBG0175-1-020", "OBG0175-2-021", "OBG0178-1-020", "OBG0178-2-021", "YPOPS0006-1-001", "YPOPS0006-2-001"],
  
  "females": ["OBG0044-1-010", "OBG0044-2-011", "OBG0068-1-020", "OBG0068-2-021", "OBG0111-1-010", "OBG0111-2-011", 
            "OBG0115-1-010", "OBG0115-2-011", "OBG0120-1-010", "OBG0120-2-011","OBG0133-1-020", "OBG0133-2-021",
            "OBG0156-1-010", "OBG0156-2-021", "OBG0166-1-010", "OBG0166-2-011", "OBG0170-1-020", "OBG0170-2-021",
            "OBG0174-1-020", "OBG0174-2-011", "OBG0175-1-020", "OBG0175-2-021", "OBG0178-1-020", "OBG0178-2-021"],
  
  "males": ["OBG0053-2-003", "OBG0053-1-001", "OBG0112-1-009","OBG0112-2-009", "OBG0116-1-008", "OBG0116-2-009", 
            "OBG0117-1-008", "OBG0117-2-009", "OBG0118-1-008", "OBG0118-2-009", "OBG0122-1-008", "OBG0122-2-009", 
            "OBG0123-1-008", "OBG0123-2-008", "OBG0126-1-003", "OBG0126-2-003", "OBG0130-1-001", "OBG0130-2-003",
            "OBG0132-1-001", "OBG0132-2-003", "OBG0158-1-001", "OBG0158-2-003", "YPOPS0006-1-001", "YPOPS0006-2-001"],

    "OBG0044-1-010":{
        "fq_path": "/data/CEM/wilsonlab/lab_generated/placenta/fastqs/rna/",
        "fq1": "OBG0044-1-010_S37_L005_R1_001.fastq",
        "fq2": "OBG0044-1-010_S37_L005_R2_001.fastq",
        "fq1_sy": "OBG0044-1-010_R1.fastq",
        "fq2_sy": "OBG0044-1-010_R2.fastq",
        "ID": "OBG0044-1-010",
        "SM": "OBG0044-1-010_RNA",
        "LB": "OBG0044-1-010_RNA",
        "PU": "HJC57BBXX.5",        
        "PL": "Illumina"
    },

    "OBG0044-2-011":{
        "fq_path": "/data/CEM/wilsonlab/lab_generated/placenta/fastqs/rna/",
        "fq1": "OBG0044-2-011_S46_L006_R1_001.fastq",
        "fq2": "OBG0044-2-011_S46_L006_R2_001.fastq",
        "fq1_sy": "OBG0044-2-011_R1.fastq",
        "fq2_sy": "OBG0044-2-011_R2.fastq",
        "ID": "OBG0044-2-011",
        "SM": "OBG0044-2-011_RNA",
        "LB": "OBG0044-2-011_RNA",
        "PU": "HJC57BBXX.6",
        "PL": "Illumina"
    },
    
    "OBG0053-1-001":{
        "fq_path": "/data/CEM/wilsonlab/lab_generated/placenta/fastqs/rna/",
        "fq1": "OBG0053-1-001_S1_L001_R1_001.fastq",
        "fq2": "OBG0053-1-001_S1_L001_R2_001.fastq",
        "fq1_sy": "OBG0053-1-001_R1.fastq",
        "fq2_sy": "OBG0053-1-001_R2.fastq",
        "ID": "OBG0053-1-001",
        "SM": "OBG0053-1-001_RNA",
        "LB": "OBG0053-1-001_RNA",
        "PU": "HJC57BBXX.1",
        "PL": "Illumina"
    },

    "OBG0053-2-003":{
        "fq_path": "/data/CEM/wilsonlab/lab_generated/placenta/fastqs/rna/",
        "fq1": "OBG0053-2-003_S10_L002_R1_001.fastq",
        "fq2": "OBG0053-2-003_S10_L002_R2_001.fastq",
        "fq1_sy": "OBG0053-2-003_R1.fastq",
        "fq2_sy": "OBG0053-2-003_R2.fastq",
        "ID": "OBG0053-2-003",
        "SM": "OBG0053-2-003_RNA",
        "LB": "OBG0053-2-003_RNA",
        "PU": "HJC57BBXX.2",
        "PL": "Illumina"
    },
        
    "OBG0068-1-020":{
        "fq_path": "/data/CEM/wilsonlab/lab_generated/placenta/fastqs/rna/",
        "fq1": "OBG0068-1-020_S23_L003_R1_001.fastq",
        "fq2": "OBG0068-1-020_S23_L003_R2_001.fastq",
        "fq1_sy": "OBG0068-1-020_R1.fastq",
        "fq2_sy": "OBG0068-1-020_R2.fastq",
        "ID": "OBG0068-1-020",
        "SM": "OBG0068-1-020_RNA",
        "LB": "OBG0068-1-020_RNA",
        "PU": "HJC57BBXX.3",
        "PL": "Illumina"
    },

    "OBG0068-2-021":{
        "fq_path": "/data/CEM/wilsonlab/lab_generated/placenta/fastqs/rna/",
        "fq1": "OBG0068-2-021_S32_L004_R1_001.fastq",
        "fq2": "OBG0068-2-021_S32_L004_R2_001.fastq",
        "fq1_sy": "OBG0068-2-021_R1.fastq",
        "fq2_sy": "OBG0068-2-021_R2.fastq",
        "ID": "OBG0068-2-021",
        "SM": "OBG0068-2-021_RNA",
        "LB": "OBG0068-2-021_RNA",
        "PU": "HJC57BBXX.4",
        "PL": "Illumina"
    },  

    "OBG0111-1-010":{
        "fq_path": "/data/CEM/wilsonlab/lab_generated/placenta/fastqs/rna/",
        "fq1": "OBG0111-1-010_S5_L001_R1_001.fastq",
        "fq2": "OBG0111-1-010_S5_L001_R2_001.fastq",
        "fq1_sy": "OBG0111-1-010_R1.fastq",
        "fq2_sy": "OBG0111-1-010_R2.fastq",
        "ID": "OBG0111-1-010",
        "SM": "OBG0111-1-010_RNA",
        "LB": "OBG0111-1-010_RNA",
        "PU": "HJC57BBXX.1",
        "PL": "Illumina"
    },

    "OBG0111-2-011":{
        "fq_path": "/data/CEM/wilsonlab/lab_generated/placenta/fastqs/rna/",
        "fq1": "OBG0111-2-011_S14_L002_R1_001.fastq",
        "fq2": "OBG0111-2-011_S14_L002_R2_001.fastq",
        "fq1_sy": "OBG0111-2-011_R1.fastq",
        "fq2_sy": "OBG0111-2-011_R2.fastq",
        "ID": "OBG0111-2-011",
        "SM": "OBG0111-2-011_RNA",
        "LB": "OBG0111-2-011_RNA",
        "PU": "HJC57BBXX.2",
        "PL": "Illumina"
    },
    
    "OBG0112-1-009":{
        "fq_path": "/data/CEM/wilsonlab/lab_generated/placenta/fastqs/rna/",
        "fq1": "OBG0112-1-009_S36_L005_R1_001.fastq",
        "fq2": "OBG0112-1-009_S36_L005_R2_001.fastq",
        "fq1_sy": "OBG0112-1-009_R1.fastq",
        "fq2_sy": "OBG0112-1-009_R2.fastq",
        "ID": "OBG0112-1-009",
        "SM": "OBG0112-1-009_RNA",
        "LB": "OBG0112-1-009_RNA",
        "PU": "HJC57BBXX.5",
        "PL": "Illumina"
    },

    "OBG0112-2-009":{
        "fq_path": "/data/CEM/wilsonlab/lab_generated/placenta/fastqs/rna/",
        "fq1": "OBG0112-2-009_S44_L006_R1_001.fastq",
        "fq2": "OBG0112-2-009_S44_L006_R2_001.fastq",
        "fq1_sy": "OBG0112-2-009_R1.fastq",
        "fq2_sy": "OBG0112-2-009_R2.fastq",
        "ID": "OBG0112-2-009",
        "SM": "OBG0112-2-009_RNA",
        "LB": "OBG0112-2-009_RNA",
        "PU": "HJC57BBXX.6",
        "PL": "Illumina"
    },

    "OBG0115-1-010":{
        "fq_path": "/data/CEM/wilsonlab/lab_generated/placenta/fastqs/rna/",
        "fq1": "OBG0115-1-010_S21_L003_R1_001.fastq",
        "fq2": "OBG0115-1-010_S21_L003_R2_001.fastq",
        "fq1_sy": "OBG0115-1-010_R1.fastq",
        "fq2_sy": "OBG0115-1-010_R2.fastq",
        "ID": "OBG0115-1-010",
        "SM": "OBG0115-1-010_RNA",
        "LB": "OBG0115-1-010_RNA",
        "PU": "HJC57BBXX.3",
        "PL": "Illumina"
    },

    "OBG0115-2-011":{
        "fq_path": "/data/CEM/wilsonlab/lab_generated/placenta/fastqs/rna/",
        "fq1": "OBG0115-2-011_S30_L004_R1_001.fastq",
        "fq2": "OBG0115-2-011_S30_L004_R2_001.fastq",
        "fq1_sy": "OBG0115-2-011_R1.fastq",
        "fq2_sy": "OBG0115-2-011_R2.fastq",
        "ID": "OBG0115-2-011",
        "SM": "OBG0115-2-011_RNA",
        "LB": "OBG0115-2-011_RNA",
        "PU": "HJC57BBXX.4",
        "PL": "Illumina"
    },

    "OBG0116-1-008":{
        "fq_path": "/data/CEM/wilsonlab/lab_generated/placenta/fastqs/rna/",
        "fq1": "OBG0116-1-008_S19_L003_R1_001.fastq",
        "fq2": "OBG0116-1-008_S19_L003_R2_001.fastq",
        "fq1_sy": "OBG0116-1-008_R1.fastq",
        "fq2_sy": "OBG0116-1-008_R2.fastq",
        "ID": "OBG0116-1-008",
        "SM": "OBG0116-1-008_RNA",
        "LB": "OBG0116-1-008_RNA",
        "PU": "HJC57BBXX.3",
        "PL": "Illumina"
    },

    "OBG0116-2-009":{
        "fq_path": "/data/CEM/wilsonlab/lab_generated/placenta/fastqs/rna/",
        "fq1": "OBG0116-2-009_S28_L004_R1_001.fastq",
        "fq2": "OBG0116-2-009_S28_L004_R2_001.fastq",
        "fq1_sy": "OBG0116-2-009_R1.fastq",
        "fq2_sy": "OBG0116-2-009_R2.fastq",
        "ID": "OBG0116-2-009",
        "SM": "OBG0116-2-009_RNA",
        "LB": "OBG0116-2-009_RNA",
        "PU": "HJC57BBXX.4",
        "PL": "Illumina"
    },

    "OBG0117-1-008":{
        "fq_path": "/data/CEM/wilsonlab/lab_generated/placenta/fastqs/rna/",
        "fq1": "OBG0117-1-008_S43_L006_R1_001.fastq",
        "fq2": "OBG0117-1-008_S43_L006_R2_001.fastq",
        "fq1_sy": "OBG0117-1-008_R1.fastq",
        "fq2_sy": "OBG0117-1-008_R2.fastq",
        "ID": "OBG0117-1-008",
        "SM": "OBG0117-1-008_RNA",
        "LB": "OBG0117-1-008_RNA",
        "PU": "HJC57BBXX.6",
        "PL": "Illumina"
    },

    "OBG0117-2-009":{
        "fq_path": "/data/CEM/wilsonlab/lab_generated/placenta/fastqs/rna/",
        "fq1": "OBG0117-2-009_S4_L001_R1_001.fastq",
        "fq2": "OBG0117-2-009_S4_L001_R2_001.fastq",
        "fq1_sy": "OBG0117-2-009_R1.fastq",
        "fq2_sy": "OBG0117-2-009_R2.fastq",
        "ID": "OBG0117-2-009",
        "SM": "OBG0117-2-009_RNA",
        "LB": "OBG0117-2-009_RNA",
        "PU": "HJC57BBXX.1",
        "PL": "Illumina"
    },

    "OBG0118-1-008":{
        "fq_path": "/data/CEM/wilsonlab/lab_generated/placenta/fastqs/rna/",
        "fq1": "OBG0118-1-008_S3_L001_R1_001.fastq",
        "fq2": "OBG0118-1-008_S3_L001_R2_001.fastq",
        "fq1_sy": "OBG0118-1-008_R1.fastq",
        "fq2_sy": "OBG0118-1-008_R2.fastq",
        "ID": "OBG0118-1-008",
        "SM": "OBG0118-1-008_RNA",
        "LB": "OBG0118-1-008_RNA",
        "PU": "HJC57BBXX.1",
        "PL": "Illumina"
    },

    "OBG0118-2-009":{
        "fq_path": "/data/CEM/wilsonlab/lab_generated/placenta/fastqs/rna/",
        "fq1": "OBG0118-2-009_S12_L002_R1_001.fastq",
        "fq2": "OBG0118-2-009_S12_L002_R2_001.fastq",
        "fq1_sy": "OBG0118-2-009_R1.fastq",
        "fq2_sy": "OBG0118-2-009_R2.fastq",
        "ID": "OBG0118-2-009",
        "SM": "OBG0118-2-009_RNA",
        "LB": "OBG0118-2-009_RNA",
        "PU": "HJC57BBXX.2",
        "PL": "Illumina"
    },

    "OBG0120-1-010":{
        "fq_path": "/data/CEM/wilsonlab/lab_generated/placenta/fastqs/rna/",
        "fq1": "OBG0120-1-010_S29_L004_R1_001.fastq",
        "fq2": "OBG0120-1-010_S29_L004_R2_001.fastq",
        "fq1_sy": "OBG0120-1-010_R1.fastq",
        "fq2_sy": "OBG0120-1-010_R2.fastq",
        "ID": "OBG0120-1-010",
        "SM": "OBG0120-1-010_RNA",
        "LB": "OBG0120-1-010_RNA",
        "PU": "HJC57BBXX.4",
        "PL": "Illumina"
    },

    "OBG0120-2-011":{
        "fq_path": "/data/CEM/wilsonlab/lab_generated/placenta/fastqs/rna/",
        "fq1": "OBG0120-2-011_S38_L005_R1_001.fastq",
        "fq2": "OBG0120-2-011_S38_L005_R2_001.fastq",
        "fq1_sy": "OBG0120-2-011_R1.fastq",
        "fq2_sy": "OBG0120-2-011_R2.fastq",
        "ID": "OBG0120-2-011",
        "SM": "OBG0120-2-011_RNA",
        "LB": "OBG0120-2-011_RNA",
        "PU": "HJC57BBXX.5",
        "PL": "Illumina"
    },

    "OBG0122-1-008":{
        "fq_path": "/data/CEM/wilsonlab/lab_generated/placenta/fastqs/rna/",
        "fq1": "OBG0122-1-008_S11_L002_R1_001.fastq",
        "fq2": "OBG0122-1-008_S11_L002_R2_001.fastq",
        "fq1_sy": "OBG0122-1-008_R1.fastq",
        "fq2_sy": "OBG0122-1-008_R2.fastq",
        "ID": "OBG0122-1-008",
        "SM": "OBG0122-1-008_RNA",
        "LB": "OBG0122-1-008_RNA",
        "PU": "HJC57BBXX.2",
        "PL": "Illumina"
    },

    "OBG0122-2-009":{
        "fq_path": "/data/CEM/wilsonlab/lab_generated/placenta/fastqs/rna/",
        "fq1": "OBG0122-2-009_S20_L003_R1_001.fastq",
        "fq2": "OBG0122-2-009_S20_L003_R2_001.fastq",
        "fq1_sy": "OBG0122-2-009_R1.fastq",
        "fq2_sy": "OBG0122-2-009_R2.fastq",
        "ID": "OBG0122-2-009",
        "SM": "OBG0122-2-009_RNA",
        "LB": "OBG0122-2-009_RNA",
        "PU": "HJC57BBXX.3",
        "PL": "Illumina"
    },

    "OBG0123-1-008":{
        "fq_path": "/data/CEM/wilsonlab/lab_generated/placenta/fastqs/rna/",
        "fq1": "OBG0123-1-008_S27_L004_R1_001.fastq",
        "fq2": "OBG0123-1-008_S27_L004_R2_001.fastq",
        "fq1_sy": "OBG0123-1-008_R1.fastq",
        "fq2_sy": "OBG0123-1-008_R2.fastq",
        "ID": "OBG0123-1-008",
        "SM": "OBG0123-1-008_RNA",
        "LB": "OBG0123-1-008_RNA",
        "PU": "HJC57BBXX.4",
        "PL": "Illumina"
    },

    "OBG0123-2-008":{
        "fq_path": "/data/CEM/wilsonlab/lab_generated/placenta/fastqs/rna/",
        "fq1": "OBG0123-2-008_S35_L005_R1_001.fastq",
        "fq2": "OBG0123-2-008_S35_L005_R2_001.fastq",
        "fq1_sy": "OBG0123-2-008_R1.fastq",
        "fq2_sy": "OBG0123-2-008_R2.fastq",
        "ID": "OBG0123-2-008",
        "SM": "OBG0123-2-008_RNA",
        "LB": "OBG0123-2-008_RNA",
        "PU": "HJC57BBXX.5",
        "PL": "Illumina"
    },

    "OBG0126-1-003":{
        "fq_path": "/data/CEM/wilsonlab/lab_generated/placenta/fastqs/rna/",
        "fq1": "OBG0126-1-003_S34_L005_R1_001.fastq",
        "fq2": "OBG0126-1-003_S34_L005_R2_001.fastq",
        "fq1_sy": "OBG0126-1-003_R1.fastq",
        "fq2_sy": "OBG0126-1-003_R2.fastq",
        "ID": "OBG0126-1-003",
        "SM": "OBG0126-1-003_RNA",
        "LB": "OBG0126-1-003_RNA",
        "PU": "HJC57BBXX.5",
        "PL": "Illumina"
    },

    "OBG0126-2-003":{
        "fq_path": "/data/CEM/wilsonlab/lab_generated/placenta/fastqs/rna/",
        "fq1": "OBG0126-2-003_S42_L006_R1_001.fastq",
        "fq2": "OBG0126-2-003_S42_L006_R2_001.fastq",
        "fq1_sy": "OBG0126-2-003_R1.fastq",
        "fq2_sy": "OBG0126-2-003_R2.fastq",
        "ID": "OBG0126-2-003",
        "SM": "OBG0126-2-003_RNA",
        "LB": "OBG0126-2-003_RNA",
        "PU": "HJC57BBXX.6",
        "PL": "Illumina"
    },

    "OBG0130-1-001":{
        "fq_path": "/data/CEM/wilsonlab/lab_generated/placenta/fastqs/rna/",
        "fq1": "OBG0130-1-001_S9_L002_R1_001.fastq",
        "fq2": "OBG0130-1-001_S9_L002_R2_001.fastq",
        "fq1_sy": "OBG0130-1-001_R1.fastq",
        "fq2_sy": "OBG0130-1-001_R2.fastq",
        "ID": "OBG0130-1-001",
        "SM": "OBG0130-1-001_RNA",
        "LB": "OBG0130-1-001_RNA",
        "PU": "HJC57BBXX.2",
        "PL": "Illumina"
    },

    "OBG0130-2-003":{
        "fq_path": "/data/CEM/wilsonlab/lab_generated/placenta/fastqs/rna/",
        "fq1": "OBG0130-2-003_S18_L003_R1_001.fastq",
        "fq2": "OBG0130-2-003_S18_L003_R2_001.fastq",
        "fq1_sy": "OBG0130-2-003_R1.fastq",
        "fq2_sy": "OBG0130-2-003_R2.fastq",
        "ID": "OBG0130-2-003",
        "SM": "OBG0130-2-003_RNA",
        "LB": "OBG0130-2-003_RNA",
        "PU": "HJC57BBXX.3",
        "PL": "Illumina"
    },
    
    "OBG0132-1-001":{
        "fq_path": "/data/CEM/wilsonlab/lab_generated/placenta/fastqs/rna/",
        "fq1": "OBG0132-1-001_S41_L006_R1_001.fastq",
        "fq2": "OBG0132-1-001_S41_L006_R2_001.fastq",
        "fq1_sy": "OBG0132-1-001_R1.fastq",
        "fq2_sy": "OBG0132-1-001_R2.fastq",
        "ID": "OBG0132-1-001",
        "SM": "OBG0132-1-001_RNA",
        "LB": "OBG0132-1-001_RNA",
        "PU": "HJC57BBXX.6",
        "PL": "Illumina"
    },

    "OBG0132-2-003":{
        "fq_path": "/data/CEM/wilsonlab/lab_generated/placenta/fastqs/rna/",
        "fq1": "OBG0132-2-003_S2_L001_R1_001.fastq",
        "fq2": "OBG0132-2-003_S2_L001_R2_001.fastq",
        "fq1_sy": "OBG0132-2-003_R1.fastq",
        "fq2_sy": "OBG0132-2-003_R2.fastq",
        "ID": "OBG0132-2-003",
        "SM": "OBG0132-2-003_RNA",
        "LB": "OBG0132-2-003_RNA",
        "PU": "HJC57BBXX.1",
        "PL": "Illumina"
    },

    "OBG0133-1-020":{
        "fq_path": "/data/CEM/wilsonlab/lab_generated/placenta/fastqs/rna/",
        "fq1": "OBG0133-1-020_S31_L004_R1_001.fastq",
        "fq2": "OBG0133-1-020_S31_L004_R2_001.fastq",
        "fq1_sy": "OBG0133-1-020_R1.fastq",
        "fq2_sy": "OBG0133-1-020_R2.fastq",
        "ID": "OBG0133-1-020",
        "SM": "OBG0133-1-020_RNA",
        "LB": "OBG0133-1-020_RNA",
        "PU": "HJC57BBXX.4",
        "PL": "Illumina"
    },

    "OBG0133-2-021":{
        "fq_path": "/data/CEM/wilsonlab/lab_generated/placenta/fastqs/rna/",
        "fq1": "OBG0133-2-021_S40_L005_R1_001.fastq",
        "fq2": "OBG0133-2-021_S40_L005_R2_001.fastq",
        "fq1_sy": "OBG0133-2-021_R1.fastq",
        "fq2_sy": "OBG0133-2-021_R2.fastq",
        "ID": "OBG0133-2-021",
        "SM": "OBG0133-2-021_RNA",
        "LB": "OBG0133-2-021_RNA",
        "PU": "HJC57BBXX.5",
        "PL": "Illumina"
    },
    
    "OBG0156-1-010":{
        "fq_path": "/data/CEM/wilsonlab/lab_generated/placenta/fastqs/rna/",
        "fq1": "OBG0156-1-010_S45_L006_R1_001.fastq",
        "fq2": "OBG0156-1-010_S45_L006_R2_001.fastq",
        "fq1_sy": "OBG0156-1-010_R1.fastq",
        "fq2_sy": "OBG0156-1-010_R2.fastq",
        "ID": "OBG0156-1-010",
        "SM": "OBG0156-1-010_RNA",
        "LB": "OBG0156-1-010_RNA",
        "PU": "HJC57BBXX.6",
        "PL": "Illumina"
    },

    "OBG0156-2-021":{
        "fq_path": "/data/CEM/wilsonlab/lab_generated/placenta/fastqs/rna/",
        "fq1": "OBG0156-2-021_S8_L001_R1_001.fastq",
        "fq2": "OBG0156-2-021_S8_L001_R2_001.fastq",
        "fq1_sy": "OBG0156-2-021_R1.fastq",
        "fq2_sy": "OBG0156-2-021_R2.fastq",
        "ID": "OBG0156-2-021",
        "SM": "OBG0156-2-021_RNA",
        "LB": "OBG0156-2-021_RNA",
        "PU": "HJC57BBXX.1",
        "PL": "Illumina"
    },

    "OBG0158-1-001":{
        "fq_path": "/data/CEM/wilsonlab/lab_generated/placenta/fastqs/rna/",
        "fq1": "OBG0158-1-001_S17_L003_R1_001.fastq",
        "fq2": "OBG0158-1-001_S17_L003_R2_001.fastq",
        "fq1_sy": "OBG0158-1-001_R1.fastq",
        "fq2_sy": "OBG0158-1-001_R2.fastq",
        "ID": "OBG0158-1-001",
        "SM": "OBG0158-1-001_RNA",
        "LB": "OBG0158-1-001_RNA",
        "PU": "HJC57BBXX.3",
        "PL": "Illumina"
    },

    "OBG0158-2-003":{
        "fq_path": "/data/CEM/wilsonlab/lab_generated/placenta/fastqs/rna/",
        "fq1": "OBG0158-2-003_S26_L004_R1_001.fastq",
        "fq2": "OBG0158-2-003_S26_L004_R2_001.fastq",
        "fq1_sy": "OBG0158-2-003_R1.fastq",
        "fq2_sy": "OBG0158-2-003_R2.fastq",
        "ID": "OBG0158-2-003",
        "SM": "OBG0158-2-003_RNA",
        "LB": "OBG0158-2-003_RNA",
        "PU": "HJC57BBXX.4",
        "PL": "Illumina"
    },

    "OBG0166-1-010":{
        "fq_path": "/data/CEM/wilsonlab/lab_generated/placenta/fastqs/rna/",
        "fq1": "OBG0166-1-010_S13_L002_R1_001.fastq",
        "fq2": "OBG0166-1-010_S13_L002_R2_001.fastq",
        "fq1_sy": "OBG0166-1-010_R1.fastq",
        "fq2_sy": "OBG0166-1-010_R2.fastq",
        "ID": "OBG0166-1-010",
        "SM": "OBG0166-1-010_RNA",
        "LB": "OBG0166-1-010_RNA",
        "PU": "HJC57BBXX.2",
        "PL": "Illumina"
    },

    "OBG0166-2-011":{
        "fq_path": "/data/CEM/wilsonlab/lab_generated/placenta/fastqs/rna/",
        "fq1": "OBG0166-2-011_S22_L003_R1_001.fastq",
        "fq2": "OBG0166-2-011_S22_L003_R2_001.fastq",
        "fq1_sy": "OBG0166-2-011_R1.fastq",
        "fq2_sy": "OBG0166-2-011_R2.fastq",
        "ID": "OBG0166-2-011",
        "SM": "OBG0166-2-011_RNA",
        "LB": "OBG0166-2-011_RNA",
        "PU": "HJC57BBXX.3",
        "PL": "Illumina"
    },

    "OBG0170-1-020":{
        "fq_path": "/data/CEM/wilsonlab/lab_generated/placenta/fastqs/rna/",
        "fq1": "OBG0170-1-020_S39_L005_R1_001.fastq",
        "fq2": "OBG0170-1-020_S39_L005_R2_001.fastq",
        "fq1_sy": "OBG0170-1-020_R1.fastq",
        "fq2_sy": "OBG0170-1-020_R2.fastq",
        "ID": "OBG0170-1-020",
        "SM": "OBG0170-1-020_RNA",
        "LB": "OBG0170-1-020_RNA",
        "PU": "HJC57BBXX.5",
        "PL": "Illumina"
    },

    "OBG0170-2-021":{
        "fq_path": "/data/CEM/wilsonlab/lab_generated/placenta/fastqs/rna/",
        "fq1": "OBG0170-2-021_S48_L006_R1_001.fastq",
        "fq2": "OBG0170-2-021_S48_L006_R2_001.fastq",
        "fq1_sy": "OBG0170-2-021_R1.fastq",
        "fq2_sy": "OBG0170-2-021_R2.fastq",
        "ID": "OBG0170-2-021",
        "SM": "OBG0170-2-021_RNA",
        "LB": "OBG0170-2-021_RNA",
        "PU": "HJC57BBXX.6",
        "PL": "Illumina"
    },

    "OBG0174-1-020":{
        "fq_path": "/data/CEM/wilsonlab/lab_generated/placenta/fastqs/rna/",
        "fq1": "OBG0174-1-020_S47_L006_R1_001.fastq",
        "fq2": "OBG0174-1-020_S47_L006_R2_001.fastq",
        "fq1_sy": "OBG0174-1-020_R1.fastq",
        "fq2_sy": "OBG0174-1-020_R2.fastq",
        "ID": "OBG0174-1-020",
        "SM": "OBG0174-1-020_RNA",
        "LB": "OBG0174-1-020_RNA",
        "PU": "HJC57BBXX.6",
        "PL": "Illumina"
    },

    "OBG0174-2-011":{
        "fq_path": "/data/CEM/wilsonlab/lab_generated/placenta/fastqs/rna/",
        "fq1": "OBG0174-2-011_S6_L001_R1_001.fastq",
        "fq2": "OBG0174-2-011_S6_L001_R2_001.fastq",
        "fq1_sy": "OBG0174-2-011_R1.fastq",
        "fq2_sy": "OBG0174-2-011_R2.fastq",
        "ID": "OBG0174-2-011",
        "SM": "OBG0174-2-011_RNA",
        "LB": "OBG0174-2-011_RNA",
        "PU": "HJC57BBXX.1",
        "PL": "Illumina"
    },

    "OBG0175-1-020":{
        "fq_path": "/data/CEM/wilsonlab/lab_generated/placenta/fastqs/rna/",
        "fq1": "OBG0175-1-020_S7_L001_R1_001.fastq",
        "fq2": "OBG0175-1-020_S7_L001_R2_001.fastq",
        "fq1_sy": "OBG0175-1-020_R1.fastq",
        "fq2_sy": "OBG0175-1-020_R2.fastq",
        "ID": "OBG0175-1-020",
        "SM": "OBG0175-1-020_RNA",
        "LB": "OBG0175-1-020_RNA",
        "PU": "HJC57BBXX.1",
        "PL": "Illumina"
    },

    "OBG0175-2-021":{
        "fq_path": "/data/CEM/wilsonlab/lab_generated/placenta/fastqs/rna/",
        "fq1": "OBG0175-2-021_S16_L002_R1_001.fastq",
        "fq2": "OBG0175-2-021_S16_L002_R2_001.fastq",
        "fq1_sy": "OBG0175-2-021_R1.fastq",
        "fq2_sy": "OBG0175-2-021_R2.fastq",
        "ID": "OBG0175-2-021",
        "SM": "OBG0175-2-021_RNA",
        "LB": "OBG0175-2-021_RNA",
        "PU": "HJC57BBXX.2",
        "PL": "Illumina"
    },

    "OBG0178-1-020":{
        "fq_path": "/data/CEM/wilsonlab/lab_generated/placenta/fastqs/rna/",
        "fq1": "OBG0178-1-020_S15_L002_R1_001.fastq",
        "fq2": "OBG0178-1-020_S15_L002_R2_001.fastq",
        "fq1_sy": "OBG0178-1-020_R1.fastq",
        "fq2_sy": "OBG0178-1-020_R2.fastq",
        "ID": "OBG0178-1-020",
        "SM": "OBG0178-1-020_RNA",
        "LB": "OBG0178-1-020_RNA",
        "PU": "HJC57BBXX.2",
        "PL": "Illumina"
    },

    "OBG0178-2-021":{
        "fq_path": "/data/CEM/wilsonlab/lab_generated/placenta/fastqs/rna/",
        "fq1": "OBG0178-2-021_S24_L003_R1_001.fastq",
        "fq2": "OBG0178-2-021_S24_L003_R2_001.fastq",
        "fq1_sy": "OBG0178-2-021_R1.fastq",
        "fq2_sy": "OBG0178-2-021_R2.fastq",
        "ID": "OBG0178-2-021",
        "SM": "OBG0178-2-021_RNA",
        "LB": "OBG0178-2-021_RNA",
        "PU": "HJC57BBXX.3",
        "PL": "Illumina"
    },

    "YPOPS0006-1-001":{
        "fq_path": "/data/CEM/wilsonlab/lab_generated/placenta/fastqs/rna/",
        "fq1": "YPOPS0006-1-001_S25_L004_R1_001.fastq",
        "fq2": "YPOPS0006-1-001_S25_L004_R2_001.fastq",
        "fq1_sy": "YPOPS0006-1-001_R1.fastq",
        "fq2_sy": "YPOPS0006-1-001_R2.fastq",
        "ID": "YPOPS0006-1-001",
        "SM": "YPOPS0006-1-001_RNA",
        "LB": "YPOPS0006-1-001_RNA",
        "PU": "HJC57BBXX.4",
        "PL": "Illumina"
    },

    "YPOPS0006-2-001":{
        "fq_path": "/data/CEM/wilsonlab/lab_generated/placenta/fastqs/rna/",
        "fq1": "YPOPS0006-2-001_S33_L005_R1_001.fastq",
        "fq2": "YPOPS0006-2-001_S33_L005_R2_001.fastq",
        "fq1_sy": "YPOPS0006-2-001_R1.fastq",
        "fq2_sy": "YPOPS0006-2-001_R2.fastq",
        "ID": "YPOPS0006-2-001",
        "SM": "YPOPS0006-2-001_RNA",
        "LB": "YPOPS0006-2-001_RNA",
        "PU": "HJC57BBXX.5",
        "PL": "Illumina"
    }   

}